.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header{
  background-image: url("https://i.pinimg.com/originals/10/59/04/10590484acd4df2e2059643a60a19fbb.jpg");
  background-position: center;
  background-size: 100%;
  min-height: 200px;
  font-size: calc(5px + 2vmin);
  color: white;
}

.headerButtons{
  padding-top: 140px;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.MainBar {
  background-color: #000000;
  min-height: 120vh;
  
}
.MainBar2{
  padding: 40px 40px;
}
.navtext{
  font-size: calc(5px + 2vmin);
  color: white;
  float: right;
}
.navtext a{
  font-size: calc(3px + 2vmin);
  color: white;
  float: right;
  margin-left: 2px;
}

.mainbarTitle{
  color: white;
  font-weight: 850;
  font-size: 40px;
  padding: 55px;
}

.App-link {
  color: #61dafb;
}
.p{
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
